* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    background: linear-gradient(90deg, rgb(20, 1, 71), rgb(92, 3, 235));
}

.navbar {
    background: linear-gradient(90deg, rgba(10, 0, 36, 0.5), rgb(54, 2, 138, 0.5));
}

.navbar li{
    display: inline;
}

.navbar a{
    font-family: 'Kanit', sans-serif;
    display: block;
    padding: 15px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

.navbar ul li {
    padding: 20px;
  }

.navbar ul li a {
    color: rgb(255, 255, 255);
  }

.navbar ul li a:hover {
    color: rgba(179, 179, 179, 0.568);
  }

  #arcane {
    display:block;
    width:800px;
    margin:0 auto 
  }

  .screen {
    display:block;
    width:800px;
    margin:0 auto 
  }

footer p {
  padding-top: 170px;
}  

section {
  padding-bottom: 40px;
}


@media screen and (max-width: 800px) {


.navbar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

video {
  padding-top: 50px;
  padding-left: 100px;
  max-width: 400px;
  height: auto;
}

img {
  max-width: 400px;
  height: auto;
}

}